.ui-control-textfield {
    position: relative;

    label {
        color: #c6c6c6;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        background: #FFF;
        padding: 5px;
        pointer-events: none;
        left: 5px;
        top: 10px;
        -webkit-transition: 300ms ease all;
        transition: 300ms ease all;
    }

    input {
        background: none;
        color: #c6c6c6;
        font-size: 18px;
        padding: 18.5px 14px;
        display: block;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        box-sizing: border-box;
        animation-name: mui-auto-fill-cancel;
        -webkit-tap-highlight-color: transparent;

        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        &:focus ~ label, 
        &:valid ~ label {
            top: -14px;
            font-size: 12px;
            color: #2196F3;
        }
    }
}